<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.androidnote.note">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".picker.PickerActivity" />
        <activity android:name=".picker.EmbeddedActivity" />
        <activity android:name=".net.NetStateActivity"></activity>
    </application>

</manifest>