<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.study.androidnote.me">

    <!--组件模式下的清单文件-->
    <application
        android:name="debug.MeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/me_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="label"
        android:resizeableActivity="false">

    </application>

</manifest>
