<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.androidnote.notice">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".view.NoticeActivity" />
        <activity android:name=".view.SysDetailActivity" />
        <activity android:name=".view.MsgDetailActivity"/>
    </application>

</manifest>